<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="function">
        <div id="insert">
            <h1>INSERT</h1>
            <form action='/insert' method='POST'>
                <div class="form-group">
                    <lable class="input-label" for=id>ID</lable>
                    <input type="text" class="input" name="id">
                </div>
                <div class="form-group">
                    <lable class="input-label" for=pw>PW</lable>
                    <input type="text" class="input" name="pw">
                </div>
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="삽입">
            </form>
        </div>
    </div>
    <div class="function">
        <div id="delete">

        </div>
    </div>
    <div class="function">
        <div id="update">

        </div>
    </div>
    <div class="function">
        <div id="select">

        </div>
    </div>
</body>
</html>